.pdetail{
	
}
.pdetail div{
	float: left;
	border:0px solid red;
}
.pleft{
	width: 450px;
	height: 550px;
	margin-right: 20px;
	text-align: center;
}
.pright{
	width: 800px;
	height: 550px;
}
.pdleft{
	width: 450px;
	margin-right: 20px;
}
.pdright{
	
}
