#navicate{
	text-align: left;
	margin: 0 11px;
	margin-left: 220px;
	font-size:20px;
	color: #fff;
    background-color: #FFFFFF;
}
a{
	text-decoration: none;
}
#d1 div{
	float:left;
	margin-left: 200px;
}
#d3{
	padding: 100px;
}
#d3 div{
	float:left;
	text-align: center;
	width: 300px;
}
#d4{
	text-align: center;
}
#d4 div{
	float:left;
	
}
.cls{
	clear:both;
}

